@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

.left {
    display: flex;
    align-items: flex-start;
    background-image: url("../img/campus.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    text-align: center;
}

.logo{
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 16px 0;
    font-size: 20px;
    overflow-wrap: break-word;
}

.right{
    width: 100%;
    height: 100%;
    margin: 150px 0px 0px 0px;
    font-size: 12px;
}

.right-header{
    margin: 0px 100px 30px 60px;
}

.sign-up{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-up > h1 {
    margin: 10px 0px 0px 60px;
}

.form-container{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 0px;
    padding: 30px 0px 30px 0px;
}

.form-container > h1,p{
    margin: 0px 0px 10px 60px;
}

p {
    margin: 0px 0px 10px 60px;
    font-size: 10px;
    color: rgb(100, 100, 100);
}

.form-content {
    display: flex;
    flex-wrap: wrap;
}

.form-content > div{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 60px;
}

.form-content > div > label{
    margin: 0px 0px 5px 0px;
    font-size: 15px;
}

.show-password-sign,
.show-password-reg{
    position: absolute;
    margin: 10px 0px 0px -50px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
}

#sign-up-confirm,
#sign-in-confirm,
#reset-password-confirm {
    margin: 20px 0px 20px 60px;
    width: 250px;
    height: 60px;
    background-color: darkred;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sign-up-confirm:hover, 
#sign-in-confirm:hover,
#signUpButton:hover,
#signInButton:hover,
#reset-password-confirm:hover {
    background-color: rgb(255, 0, 0);
}

#sign-up-confirm:active
#sign-in-confirm:active,
#reset-password-confirm:active {
    background-color: rgb(200, 0, 0);
}

#signUpButton,
#signInButton,
#backToSignInButton {
    margin: 0px 0px 100px 60px;
    width: 100px;
    height: 20px;
    background-color: darkred;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-content input[type='text'],
.form-content input[type='password'],
.form-content input[type='email'],
.form-content input[type='tel']{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 1px 1px 3px #ccc;
}

.form-content input:focus{
    outline: none;
    border: 1px solid black;
    background-color: #ccc;
}

.form-content input:hover{
    background-color: #ccc;
}

.form-content input:invalid{
    border: 1px solid red;
}

.form-content input:required:valid{
    border: 1px solid green;
}

#reset-password{
    color: darkred;
    font-size: 16px;
    cursor: pointer;
}

#reset-password:hover{
    color: rgb(255, 0, 0);
}

.sign-in-options {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#googleIcon{
    width: 50px;
    height: 50px;
}

#googleButton{
    background: none;
    border: none;
    cursor: pointer;
}

.google-sign-in{
    display: flex;
    flex-direction: column;
}

.error-sign-up,
.error-sign-in {
    font-size: 18px;
    color: darkred;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(200, 200, 200);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

#dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #800000; /* Matches your red theme */
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000; /* Ensures it stays on top */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#dark-mode-toggle:hover {
    background-color: #b20000; 
    transform: scale(1.1);
}

#toggle-icon {
    transition: opacity 0.2s ease; 
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .form-container input,
body.dark-mode .form-container select {
    background-color: #252525; 
    box-shadow: inset 1px 1px 3px black;
    color: white;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode label{
    color: white;
}

body.dark-mode .form-container{
    outline: none;
    border: 1px solid black;
    background-color: #363636;
}

body.dark-mode .form-container input:focus{
    outline: none;
    background-color: #363636;
}

body.dark-mode .form-container input:hover{
    background-color: #363636;
}

body.dark-mode #priority,
body.dark-mode #priority-filter {
    border: 1px solid #464646;
    box-shadow: inset 1px 1px 3px black;
}

@media screen and (max-width: 950px) {
    .content {
        flex-direction: column;
    }

    .left {
        flex-shrink: 0;
        height: 50vh;
    }

    .logo{
        width: 100%;
    }

    .right {
        margin-top: 25px;
        flex-shrink: 0;
        height: 50vh;
    }

    .sign-up{
        justify-content: center;
        align-items: center;
    }

    .sign-up > *{
        margin: 0px 0px 10px 0px;
    }

    .form-content {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .form-container{
        width: 100%;
    }

    .form-container > h1,p{
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    .right > h2{
        margin: 0px 10px 10px 10px;
        text-align: center;
    }

    .form-content > div{
        margin: 10px 0px 20px 20%;
    }

    .form-content input[type='text'],
    .form-content input[type='password'],
    .form-content input[type='email'],
    .form-content input[type='tel']{
        width: 80%;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sign-up-confirm{
        margin: 10px 0px 20px 60px;
        width: 80%;
    }

    .bottom-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #backToSignInButton,
    #signUpButton,
    #signInButton{
        margin: 0px 0px 20px 0px;
    }

    #sign-up-confirm{
        margin: 0px 0px 10px 0px
    }
    
}