@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}

.company-name {
    font-size: 40px;
    color: white;
    font-weight: 400;
    margin-left: 72px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkred;
    margin-bottom: 25px;
}

.header > ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 72px;
}

a,
#welcome {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.new-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* One task per row */
    grid-auto-rows: auto;
    grid-gap: 25px;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.grid-item {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
    padding: 20px;
    transition: transform 0.2s; 
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-item-text {
    display: flex;
    flex-direction: column;
    color: #333; 
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #333;
}

p {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #666;
}

.complete-task,
.add-task-confirm{
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.add-task-confirm{
    margin: 20px 0px 0px 0px;
    width: 250px;
    height: 60px;
    background-color: darkred;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task-confirm:hover, 
.complete-task:hover {
    background-color: rgb(255, 0, 0);
}

